html {
overflow: hidden;
}

body {
margin: 0;
font-size: 30px;
text-align: center;
font-family: 'Bree Serif', serif;
line-height: 100%;
word-spacing: 50%;
line-height: 130%;
color: #000;
height: 100vh;
perspective: 1px;
transform-style: preserve-3d;
overflow-x:hidden;
overflow-y:auto;
}

.parallax-wrapper {
width: 100vw;
height:100vh;
padding-top:20vh;
box-sizing: border-box;
transform-style: preserve-3d;
}

.parallax-wrapper::before {
content:"";
width: 100vw;
height: 100vh;
top:0;
left:0;
background-image: url(images/logo.jpg);
background-size: contain;
background-repeat: no-repeat;
background-position: center;
position: absolute;
top: 200px;
z-index: -1;
transform:translateZ(-1px) scale(2);
}

.regular-wrapper {
width: 100vw;
height:100vh;
padding-top:20vh;
background-image: url(images/logo.jpg);
background-size: contain;
background-repeat: no-repeat;
background-position: center;
z-index: 2;
position: relative;
}

.content {
margin: auto;
width: 50%;
background-color: rgba(255, 255, 255, 0.9);
}
